body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: white;
}

.center-container {
  position: absolute;
  z-index: 10;
}

#yearButton {
  border-radius: 50%; 
  width: 200px;
  height: 200px;
  border: none;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122,17,8,.8);
  box-shadow: 0 8px 0 rgb(183,9,0), 
    0 15px 20px rgba(0,0,0,.35);
  text-transform: uppercase;
  transition: .4s all ease-in;
  outline: none; 
  cursor: pointer;
  text-align: center;
}

#yearButton:hover {
  transform: scale(1.1);
}

#drawing_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

#credits {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Avenir, Arial, sans-serif;
  font-size: 2rem;
  color: rgb(146, 146, 146);
  opacity: 0;
  transition: opacity 1s ease-in;
}